<form action="/products/<%=@product["id"]%>" method="post">
  <p>
    <label>Name:</label>
    <input type="text" name="name" value="<%=@product["name"]%>">
  </p>

  <p>
    <label>Price:</label>
    <input type="number" name="price" value="<%=@product["id"]%>">
  </p>

  <p>
    <label>Description:</label>
    <textarea name="description"><%= @product["description"]%></textarea>
  </p>

  <p>
    <input type="submit" name="" value="Create the new product.">
  </p>
</form>

Product Categories:
<p>
Remove <%= @product["name"] %> from a category:
<% @member_categories.each do |cm| %>
  <form action="category_memberships/<%= cm["cm_id"] %>/destroy" method="post">
    <input type="submit" value="Remove <%= @product["name"] %> from <%= cm["cat_name"]%>">
  </form>
<% end %>
</p>

Add <%= @product["name"] %> to another category:
<form action="/category_memberships" method="post">
  <select name="category_id">
    <% @non_member_categories.each do |category| %>
      <option value="<%= category["id"] %>"><%= category["name"] %></option> 
    <% end %>
  </select>
  <input name="product_id" type="hidden" value="<%=@product["id"]%>">
  <input type="submit">
</form>
