<p> Name: <%= @product["name"] %> </p>
<p> Price: <%= @product["price"] %></p>
<p> <%= @product["description"] %></p>

Product Categories:
<ul>
<% @categories.each do |cat|%>
  <li> <a href="/categories/<%=cat["id"] %>"> <%= cat["name"] %> </a></li>
<% end %>
</ul>
<a href="<%=@product["id"]%>/edit"> Edit this product.</a>
<form action="/products/<%= @product["id"] %>/destroy" method="post">
    <input type="submit" name="" value="Delete this product.">
</form>

